name: Build
on:
  push:
    branches: [master]
    tags: [v2.*]
  pull_request:
    branches: [master]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependency
        run: sudo apt-get install -y --no-install-recommends fontforge make curl
      - name: Prepare FontPatcher
        run: make FontPatcher
      - name: Patch Fonts
        run: make PATCH_OPTS='-q'
      - uses: actions/upload-artifact@v3
        with:
          name: ComicShannsNerdFont
          path: |
            *.ttf
            *.otf
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    steps:
      - uses: actions/download-artifact@v3
      - uses: softprops/action-gh-release@v1
        with:
          files: |
            *.ttf
            *.otf
